<div class="header">
    {{ page.header }}
    <nav class="menu">
        {{ page.primary_menu }}
    </nav>
</div>
<div class="content"> 
    {{ page.content }}
</div>
<div class="footer"> 
    {{ page.footer }}
</div>