<div class="header">
    {{ page.header }}
    <div class="menus">
        {{ page.primary_menu }}
    </div>
</div>
<div class="content"> 
    {{ page.content }}
</div>
<div class="footer"> 
    {{ page.footer }}
</div>