.product {
    background-image: url('../images/bg1.jpg') !important;
}

.category {
    background-image: url('../images/bg2.jpg') !important;
}

body {
    background-image: url('../images/bg3.jpg');
}